<div class="container-fluid  ">
    <h1 class="align1">CARGA PITCHER DIA</h1>
    <h5 class="cuadro" ><a routerLink="/pitcherse"  class="cuadro align1">
      Pitchers Temp </a></h5>

    <form class="my-5">.

      <div class="container " >
        <div class="row ">
          <div class="col-md-3 marg">
            <div class="container bacg1">

              <h6 class="text-center bg-dark text-white letr2 " >CARGAR</h6>

        <div class="container ">
            <label for="inputname " class="col-sm-2 col-form-label letr">Name</label>
          <input type="text" class="mb-2 ml-3" id="inputname" placeholder="Player name" >
        </div>

        <div class="container ">
            <label for="inputLname " class="col-sm-2 col-form-label letr">Lname</label>
          <input type="text" placeholder="Player Lastname" id="inputLname" class="mb-2 ml-3">
        </div>

        <div class="container ">
            <label for="inputIPtch " class="col-sm-2 col-form-label letr">IPitch</label>
          <input type="text" placeholder="IPtch" class="mb-2 ml-3" id="inputIPtch">
        </div>

        <div class="container ">
            <label for="inputHits " class="col-sm-2 col-form-label letr">Hits</label>
          <input type="number" placeholder="Hits" class="mb-2 ml-3" id="inputHits">
        </div>

        <div class="container ">
            <label for="inputCSucias " class="col-sm-2 col-form-label letr">CSucias</label>
          <input type="text" placeholder="CSucias" class="mb-2 ml-3" id="inputCSucias">
        </div>

        <div class="container ">
            <label for="inputCLimpias" class="col-sm-2 col-form-label letr">Limpias</label>
          <input type="text" placeholder="Limpias" class="mb-2 ml-3" id="inputLimpias">
        </div>

        <div class="container ">
            <label for="inputBBolas " class="col-sm-2 col-form-label letr">BBolas</label>
          <input type="text" placeholder="BBolas" class="mb-2 ml-3" id="inputBBolas">
        </div>
        <div class="container ">
            <label for="inputPonches " class="col-sm-2 col-form-label letr">Ponches</label>
          <input type="text" placeholder="Ponches" class="mb-2 ml-3" id="inputPonches">
        </div>

      </div>
          </div>

          <div class="col-md-8 marg">


             <app-pitcher-list></app-pitcher-list>

          </div>

        </div>
      </div>
    </form>
    </div>
