<div class="container-fluid  ">
    <h1 class="align1">CARGA PITCHER TEMP</h1>
    <h5 class="cuadro" ><a routerLink="/pitcher"  class="cuadro align1">
      Pitchers Dia </a></h5>

    <form class="my-5">.

      <div class="container " >
        <div class="row ">
          <div class="col-md-3 marg">
            <div class="container bacg1">

              <h6 class="text-center bg-dark text-white letr2 " >CARGAR</h6>

        <div class="container ">
            <label for="inputname " class="col-sm-2 col-form-label letr">Name</label>
          <input type="text" class="mb-2 ml-3" id="inputname" placeholder="Player name" >
        </div>

        <div class="container ">
            <label for="inputLname " class="col-sm-2 col-form-label letr">Lname</label>
          <input type="text" placeholder="Player Lastname" id="inputLname" class="mb-2 ml-3">
        </div>

        <div class="container ">
            <label for="inputposition " class="col-sm-2 col-form-label letr">Position</label>
          <input type="text" placeholder="Player Position" class="mb-2 ml-3" id="inputposition">
        </div>

        <div class="container ">
            <label for="inputBDate " class="col-sm-2 col-form-label letr">BirthDay</label>
          <input type="number" placeholder="Player Position" class="mb-2 ml-3" id="inputBDate">
        </div>

        <div class="container ">
            <label for="inputDDate " class="col-sm-2 col-form-label letr">DebutDate</label>
          <input type="text" placeholder="Player Position" class="mb-2 ml-3" id="inputDDate">
        </div>

        <div class="container ">
            <label for="inputTeam " class="col-sm-2 col-form-label letr">Team</label>
          <input type="text" placeholder="Player Position" class="mb-2 ml-3" id="inputTeam">
        </div>

        <div class="container ">
            <label for="inputposition " class="col-sm-2 col-form-label letr">Position</label>
          <input type="text" placeholder="Player Position" class="mb-2 ml-3" id="inputposition">
        </div>
        <div class="container ">
            <label for="inputVBate " class="col-sm-2 col-form-label letr">VecesBate</label>
          <input type="text" placeholder="VBate" class="mb-2 ml-3" id="inputVBate">
        </div>

        <div class="container ">
            <label for="inputCAnot " class="col-sm-2 col-form-label letr">CAnot</label>
          <input type="number" placeholder="CAnotadas" class="mb-2 ml-3" id="inputCAnot">
        </div>

        <div class="container ">
            <label for="inputHits " class="col-sm-2 col-form-label letr">Hits</label>
          <input type="text" placeholder="Hits" class="mb-2 ml-3" id="inputHits">
        </div>

        <div class="container ">
            <label for="inputCEmp" class="col-sm-2 col-form-label letr">CEmpujadas</label>
          <input type="text" placeholder="CEmpujadas" class="mb-2 ml-3" id="inputCEmp">
        </div>

        <div class="container ">
            <label for="inputBRob " class="col-sm-2 col-form-label letr">BRobadas</label>
          <input type="text" placeholder="Player Position" class="mb-2 ml-3" id="inputBRob">
        </div>
        <div class="container ">
            <label for="inputHR " class="col-sm-2 col-form-label letr">HomeRun</label>
          <input type="text" placeholder="Homerun" class="mb-2 ml-3" id="inputHR">
        </div>
      </div>
          </div>

          <div class="col-md-8 marg">


              <app-pitcher-list></app-pitcher-list>

          </div>

        </div>
      </div>
    </form>
    </div>

