<div class="container form-control form-control-sm letr3" >
    <h6 class="text-center bg-dark text-white letr2" style="padding-bottom:5px;">LISTAR</h6>
      <div class="card ">
          <div class="card-body letr5">
            <h6 class="text-center bg-dark text-white" style="padding-bottom:5px;">Lista de Jugadores</h6>
            <table class="table table-sm table-hover">

<tr>
  <th>Nombre</th>
  <th>Apellido</th>
  <th>VB</th>
  <th>CA</th>
  <th>H</th>
  <th>CE</th>
  <th>BR</th>
  <th>Hr</th>
  <th>Editar</th>
  <th>Borrar</th>
  </tr>
  <tbody>
    <tr *ngFor = "let player of players" class="text-center" >
      <th>{{player.name}}</th>
      <th>{{player.lastname}}</th>
      <th>{{player.VBte}}</th>
      <th>{{player.CAte}}</th>
      <th>{{player.hitste}}</th>
      <th>{{player.CEte}}</th>
      <th>{{player.BRte}}</th>
      <th>{{player.HRte}}</th>
      <th class="text-center"  ><i class="far fa-edit "></i></th>
      <th class="text-center" ><i class="far fa-trash-alt text-align:center" (dblclick)="deletePlayer($event, player)" ></i></th>

    </tr>
  </tbody>
