<style>
    @media (max-width: 600px) {
      .delet {
        display: none;

      }
     .letra {
      -webkit-text-stroke-width: 0.0vw;
      }
    }
    </style>
<div class="container">

  <h1 class="text-center titulo font-weight-bold letra ">
    CARGA DE DATOS REAQA
  </h1>
  <div class="container separ"></div>
  <div class="container"></div>
    <div class="row justify-content-center ">
      <div class="col-md-4 centro1 " >
         <!-- <img width="300vw" alt="MLB Logo" src="http://cdn.bleacherreport.net/images/team_logos/328x328/mlb_rumors.png">-->

        <img width="320vw"  class="delet" alt="MLB Logo" src="../../../assets/logoamric.png">
    </div>
    <div class="col-md-4 centro2">
      <img width="320vw" alt="MLB Logo" src="http://cdn.bleacherreport.net/images/team_logos/328x328/mlb_rumors.png">
    </div>
   <div class="col-md-4 centro1 ">
       <img width="320vw" class="delet" alt="MLB Logo" src="../../../assets/LIGANACIONAL.png">
    </div>
    <div class="container separ"></div>
    <h1 class="text-center titulo font-weight-bold letra ">
        VINOTINTOS GRANDES LIGAS
      </h1>
  </div>



</div>
