<div class="container">
  <h1 class="text-center titulo letra">
    CARGA DE DATOS PLAYERS
  </h1>
  <img width="400" class="mx-auto d-block" alt="MLB Logo" src="http://cdn.bleacherreport.net/images/team_logos/328x328/mlb_rumors.png">
</div>

  <div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 ">
        <nav class="navbar navbar-dark bg-danger">


            <!-- <a href="/" class="navbar-brand">
            Home</a>-->

            <a routerLink="/player"  class="navbar-header text-white font-weight-bold">
              Player Diario  </a>
            <a routerLink="/player"  class="navbar-header text-dark font-weight-bold">
              Player Temporada  </a>




            <!-- <a href="/"  class="navbar-header text-white">
            Players Season</a>-->
          </nav>
        </div>
    </div>




