<div class="container-fluid ">
<h1 class="align1">CARGA</h1>

<form class="my-5">.

  <div class="container " >
    <div class="row ">
      <div class="col-md-6 marg">

    <h1 class="align1">Cargar</h1>
    <div class="container">
      <input type="text" placeholder="Player name" class="mr-4">
    </div>

    <div class="container my-4">
      <input type="text" placeholder="Player Lastname">
    </div>

      </div>

      <div class="col-md-6 marg">

    <h1 class="align1">Listar</h1>

    <input type="text" placeholder="Player name" class="mr-4">
    <input type="text" placeholder="Player Lastname" >


      </div>

    </div>
  </div>
</form>
</div>





   <!--< <div class="card mt-5">
    <div class="card-body">

     form #playerForm="ngForm" (ngSubmit)="onSubmit(playerForm)">
       <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="playerService.selectedPlayer.$key">
        <div class="form-group">
        <input
        type="text"
        class="form-control"
        name="name"
        #name="ngModel"
        [(ngModel)]="playerService.selectedPlayer.name"
        placeholder="Player Name"

        >
      </div>
       <div class="form-group">
        <input
        type="text"
        class="form-control"
        name="lastname"
        #lastname="ngModel"
        [(ngModel)]="playerService.selectedPlayer.lastname"
        placeholder="LastName"

        >
     </div>
       <div class="form-group">
        <input
        type="number"
        class="form-control"
        name="avg"
        #avg="ngModel"
        [(ngModel)]="playerService.selectedPlayer.avg"
        placeholder="Avg"

        >
      </div>
       <div class="form-group">
        <input
        type="number"
        class="form-control"
        name="vecesbate"
        #vecesbate="ngModel"
        [(ngModel)]="playerService.selectedPlayer.vecesbate"
        placeholder="VB"

        >
      </div>
       <div class="form-group">
        <input
        type="number"
        class="form-control"
        name="carrerasa"
        #carrerasa="ngModel"
        [(ngModel)]="playerService.selectedPlayer.carrerasa"
        placeholder="CA"

        >
      </div>
       <div class="form-group">
        <input
        type="number"
        class="form-control"
        name="hits"
        #hits="ngModel"
        [(ngModel)]="playerService.selectedPlayer.hits"
        placeholder="H"

        >
      </div>
       <div class="form-group">
        <input
        type="number"
        class="form-control"
        name="carrerase"
        #carrerase="ngModel"
        [(ngModel)]="playerService.selectedPlayer.carrerase"
        placeholder="CE"

        >
      </div>
       <div class="form-group">
        <input
        type="number"
        class="form-control"
        name="basesr"
        #basesr="ngModel"
        [(ngModel)]="playerService.selectedPlayer.basesr"
        placeholder="BR"
        >
      </div>
       <div class="form-group">
        <input
        type="number"
        class="form-control"
        name="homer"
        #homer="ngModel"
        [(ngModel)]="playerService.selectedPlayer.homer"
        placeholder="HR"

        >
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-plus-circle"></i> Add Player
        </button>
         <div class="container">

        <button class="btn btn-secondary my-2 ml-2" type="reset" (click)="resetForm(playerForm)">
        <i class="fas fa-sync-alt"></i>Reset
      </button>
     </div>



      </div>-->

      <!-- </form>
    </div>
  </div>-->
